:root {
  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);
  --fb: hsl(208, 92%, 53%);
  --tt: hsl(203, 89%, 53%);
  --insta: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --yt: hsl(348, 97%, 39%);
  --d-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --l-toggle: hsl(230, 22%, 74%);

  --d-bg: hsl(230, 17%, 14%);
  --d-top-bg: hsl(232, 19%, 15%);
  --d-card-bg: hsl(228, 28%, 20%);
  --d-text-dark: hsl(228, 34%, 66%);
  --d-text-light: hsl(0, 0%, 100%);

  --l-bg: hsl(0, 0%, 100%);
  --l-top-bg: hsl(225, 100%, 98%);
  --l-card-bg: hsl(227, 47%, 96%);
  --l-text-dark: hsl(230, 17%, 14%);
  --l-text-light: hsl(228, 12%, 44%);

  --overview-font-size: 1rem;
  --font-size-sm: .875rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 3rem;

  --font-weight-bold: 700;
}

.insta {
  background: var(--insta);
}

.app {
  min-height: 100vh;
  background: var(--d-bg);
  font-family: 'Inter', sans-serif;
  
}

.light {
  background: var(--l-bg);
}

.dark {
  background: var(--d-bg);
}

.app p {
  font-size: var(--font-size-sm);
}

.app h1 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.app h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.app h3 {
  font-size: var(--font-size-md);
}

.toggle {
  appearance: none;
  position: relative;
  height: 1.5rem;
  width: 3rem;
  border-radius: 25px;
  background-image: var(--d-toggle);
  outline: none;
  animation: color 2s alternate infinite;
}

.toggle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.1rem;
  width: 1.1rem;
  background: var(--d-top-bg);
  transition: left .3s;
  
}

.toggle:checked {
  background: var(--l-toggle);
}

.toggle:checked::after {
  left: 75%;
  background: rgb(255, 255, 255);
}

.toggle:hover{
  background: var(--d-toggle);
}




